
.grid{
  display: grid;
  grid-template-columns: repeat(4,1fr);

}
.input{
  width: 400px;
  height: 50px;
  border: 1px solid black;
  font-size: 20px;
  padding: 5px;
}
.grid li{
  text-align: center;
  margin-left: 10px;
  margin-top: 30px;
  list-style: none;
  padding: 20px;
  width: 200px;
  border-radius: 10px;
  box-shadow: -2px 0px 65px -7px rgba(0,0,0,0.73);
  -webkit-box-shadow: -2px 0px 65px -7px rgba(0,0,0,0.73);
  -moz-box-shadow: -2px 0px 65px -7px rgba(0,0,0,0.73);
  font-size: 100px;
  background-color: aliceblue;
}
@media screen and (max-width:1000px){
  .grid{
    grid-template-columns: auto auto auto ;
  }
}
@media screen and (max-width:810px){
  .grid{
    grid-template-columns: auto auto auto
  }
  .grid li{
    width:100px;
    font-size: 50px;
  }
}
@media screen and (max-width:500px){
  .grid{
    grid-template-columns: auto auto auto
  }
  .input{
  height: 30px;
  border: 1px solid black;
  font-size: 10px;
  padding: 5px;
  text-align: center;
}
  .grid li{
    width:50px;
    font-size: 20px;
  }
}
@media screen and (max-width:400px){
  .grid{
    grid-template-columns: auto auto auto auto
  }
  .grid li{
    width:50px;
    font-size: 20px;
  }
}
body{
  background-color: rgb(217, 217, 217);
}


.iconpo path{
color: rgb(84, 72, 72);
}
body {
  box-sizing: border-box;
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  text-align: center;
  padding-inline: 12px;
}
.item{
  padding-top: 20px;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
}
path{
  color: rgb(182, 58, 191);
}

p{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}